name: Terraform Destroy

on:
  workflow_dispatch:

env:
  AWS_REGION: eu-north-1
  TF_VAR_terraform_state_bucket_name: aishabtidon-terraform-state
  TF_VAR_terraform_state_dynamodb_table_name: terraform-locks

permissions:
  id-token: write
  contents:  read

jobs:
  destroy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region:     ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0
          terraform_wrapper: false

      - name: Terraform Init
        run: terraform init -input=false

      # Ensure role policy is up to date so destroy has all permissions
      - name: Terraform Apply IAM (role policy only)
        run: terraform apply -target=module.iam -var="image_tag=${{ github.sha }}" -auto-approve

      - name: Terraform Destroy
        run: terraform destroy -var="image_tag=${{ github.sha }}" -auto-approve
